@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #111;
}

.tab.tab-active {
  background-color: #333;
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: 0px;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.player-wrapper-hidden {
  display: none;
}

@media (min-width: 1024px) {
  .react-player__play-icon {
    display: none;
  }
}

/* SearchBar */
.searchBar {
  animation-name: appearSearchBar;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

@keyframes appearSearchBar {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
  }
}

/* fadeImage */
.fadeImage {
  animation-name: fadingImage;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

@keyframes fadingImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* fadeHeroText */
.fadeHeroText {
  animation-name: fadingHeroText;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
}

@keyframes fadingHeroText {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
